In [1]:
from datetime import datetime, timedelta
from sqlalchemy import create_engine, inspect
import logging
import mysql.connector
import pandas as pd
import requests

In [18]:
a.head()

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date,batch_number
0,101640.0,for_sale,289900.0,4.0,2.0,0.38,1758218.0,East Windsor,Connecticut,6016.0,1617.0,1999-09-30,0
1,107951.0,for_sale,299900.0,3.0,2.0,0.87,1336295.0,Vernon,Connecticut,6066.0,1850.0,2015-11-09,0
2,80935.0,for_sale,299000.0,3.0,2.0,0.35,920059.0,North Canaan,Connecticut,6018.0,1620.0,2011-08-23,0
3,33714.0,for_sale,221000.0,4.0,2.0,0.32,731702.0,Windsor Locks,Connecticut,6096.0,1735.0,2014-03-03,0
4,29997.0,for_sale,175000.0,3.0,2.0,0.19,1382878.0,Winchester,Connecticut,6098.0,2005.0,2007-07-19,0

In [19]:
# Columnas del dataframe
COLUMN_NAMES = ["brokered_by",
                "status",
                "price",
                "bed",
                "bath",
                "acre_lot",
                "street",
                "city",
                "state",
                "zip_code",
                "house_size",
                "prev_sold_date"]

CATEGORICAL_FEATURES = ["brokered_by",
                        "status",
                        "street",
                        "city",
                        "state",
                        "zip_code",
                        "prev_sold_date"]

NUMERICAL_FEATURES = ["price",
                      "bed",
                      "bath",
                      "acre_lot",
                      "house_size"]

In [3]:
# Configuraci√≥n del logging
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)

In [4]:
url = "http://10.43.101.149/data"
params = {'group_number': '2'}
headers = {'accept': 'application/json'}

response = requests.get(url, params=params, headers=headers)

In [5]:
if response.status_code == 200:
    json_data = response.json()
    df = pd.DataFrame.from_dict(json_data["data"])
    df.columns = COLUMN_NAMES
    df["batch_number"] = json_data["batch_number"]   

    # Connect to MySQL and create table if not exists
    engine = create_engine("mysql+mysqlconnector://airflow:airflow@mysql/airflow")
    with engine.connect() as conn:
        table_exists = engine.dialect.has_table(conn, 'raw_data')
        if not table_exists:
            print("No existe la tabla")
            df.iloc[:0].to_sql('raw_data', con=engine, if_exists='replace', index=False)
        # Merge data into the table
        df.to_sql('raw_data', con=engine, if_exists='append', index=False, chunksize=10000)

else:
    logger.error("Error al realizar la solicitud: %d", response.status_code)

ERROR:__main__:Error al realizar la solicitud: 400

In [6]:
conn = mysql.connector.connect(
host="mysql",
user="airflow",
password="airflow",
database="airflow"
)
select_query = """
SELECT
    *
FROM
    raw_data
"""
a = pd.read_sql(select_query, con=conn)
conn.close()

/tmp/ipykernel_294/72019943.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  a = pd.read_sql(select_query, con=conn)

In [7]:
a["batch_number"].value_counts()

5    361457
4    320696
2    230366
1     94551
0     73784
3      4055
Name: batch_number, dtype: int64

In [9]:
a

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date,batch_number
0,101640.0,for_sale,289900.0,4.0,2.0,0.38,1758218.0,East Windsor,Connecticut,6016.0,1617.0,1999-09-30,0
1,107951.0,for_sale,299900.0,3.0,2.0,0.87,1336295.0,Vernon,Connecticut,6066.0,1850.0,2015-11-09,0
2,80935.0,for_sale,299000.0,3.0,2.0,0.35,920059.0,North Canaan,Connecticut,6018.0,1620.0,2011-08-23,0
3,33714.0,for_sale,221000.0,4.0,2.0,0.32,731702.0,Windsor Locks,Connecticut,6096.0,1735.0,2014-03-03,0
4,29997.0,for_sale,175000.0,3.0,2.0,0.19,1382878.0,Winchester,Connecticut,6098.0,2005.0,2007-07-19,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084904,51838.0,sold,569000.0,5.0,2.0,0.29,1788349.0,Walla Walla,Washington,99362.0,2555.0,2022-01-28,5
1084905,33745.0,sold,578500.0,3.0,3.0,5.00,1683540.0,Hermiston,Oregon,97838.0,1967.0,2022-01-28,5
1084906,72729.0,sold,589900.0,4.0,3.0,0.24,980790.0,Richland,Washington,99354.0,2411.0,2022-02-23,5
1084907,72729.0,sold,599900.0,3.0,3.0,0.19,978374.0,Richland,Washington,99354.0,2571.0,2022-02-14,5
1084908,108243.0,sold,580000.0,5.0,3.0,0.31,307704.0,Richland,Washington,99354.0,3615.0,2022-03-23,5

In [16]:
for i in a["batch_number"].unique():
    subset_df = a[a["batch_number"] == i]
    print(f"batch {i} nulls")
    print(subset_df.isna().sum())

batch 0 nulls
brokered_by       0
status            0
price             0
bed               0
bath              0
acre_lot          0
street            0
city              0
state             0
zip_code          0
house_size        0
prev_sold_date    0
batch_number      0
dtype: int64
batch 1 nulls
brokered_by       0
status            0
price             0
bed               0
bath              0
acre_lot          0
street            0
city              0
state             0
zip_code          0
house_size        0
prev_sold_date    0
batch_number      0
dtype: int64
batch 2 nulls
brokered_by       0
status            0
price             0
bed               0
bath              0
acre_lot          0
street            0
city              0
state             0
zip_code          0
house_size        0
prev_sold_date    0
batch_number      0
dtype: int64
batch 3 nulls
brokered_by       0
status            0
price             0
bed               0
bath              0
acre_lot          0
street            0
city              0
state             0
zip_code          0
house_size        0
prev_sold_date    0
batch_number      0
dtype: int64
batch 4 nulls
brokered_by       0
status            0
price             0
bed               0
bath              0
acre_lot          0
street            0
city              0
state             0
zip_code          0
house_size        0
prev_sold_date    0
batch_number      0
dtype: int64
batch 5 nulls
brokered_by       0
status            0
price             0
bed               0
bath              0
acre_lot          0
street            0
city              0
state             0
zip_code          0
house_size        0
prev_sold_date    0
batch_number      0
dtype: int64

In [30]:
for i in a["batch_number"].unique():
    subset_df = a[a["batch_number"] == i]
    print(f"batch {i} size {len(subset_df)} and n_unique cat:")
    for feature in CATEGORICAL_FEATURES:
        unique_count = subset_df[feature].nunique(dropna=True)  # Exclude NaN from the count
        print(f"Number of unique categories for {feature}: {unique_count}, percent: {round(unique_count/len(subset_df),4)}")

batch 0 size 73784 and n_unique cat:
Number of unique categories for brokered_by: 20856, percent: 0.2827
Number of unique categories for status: 1, percent: 0.0
Number of unique categories for street: 73400, percent: 0.9948
Number of unique categories for city: 7747, percent: 0.105
Number of unique categories for state: 50, percent: 0.0007
Number of unique categories for zip_code: 12800, percent: 0.1735
Number of unique categories for prev_sold_date: 9424, percent: 0.1277
batch 1 size 94551 and n_unique cat:
Number of unique categories for brokered_by: 26427, percent: 0.2795
Number of unique categories for status: 1, percent: 0.0
Number of unique categories for street: 94072, percent: 0.9949
Number of unique categories for city: 8449, percent: 0.0894
Number of unique categories for state: 51, percent: 0.0005
Number of unique categories for zip_code: 14115, percent: 0.1493
Number of unique categories for prev_sold_date: 10284, percent: 0.1088
batch 2 size 230366 and n_unique cat:
Number of unique categories for brokered_by: 28634, percent: 0.1243
Number of unique categories for status: 1, percent: 0.0
Number of unique categories for street: 229242, percent: 0.9951
Number of unique categories for city: 9201, percent: 0.0399
Number of unique categories for state: 50, percent: 0.0002
Number of unique categories for zip_code: 14195, percent: 0.0616
Number of unique categories for prev_sold_date: 200, percent: 0.0009
batch 3 size 4055 and n_unique cat:
Number of unique categories for brokered_by: 775, percent: 0.1911
Number of unique categories for status: 2, percent: 0.0005
Number of unique categories for street: 4018, percent: 0.9909
Number of unique categories for city: 258, percent: 0.0636
Number of unique categories for state: 1, percent: 0.0002
Number of unique categories for zip_code: 317, percent: 0.0782
Number of unique categories for prev_sold_date: 481, percent: 0.1186
batch 4 size 320696 and n_unique cat:
Number of unique categories for brokered_by: 45710, percent: 0.1425
Number of unique categories for status: 2, percent: 0.0
Number of unique categories for street: 297041, percent: 0.9262
Number of unique categories for city: 9936, percent: 0.031
Number of unique categories for state: 53, percent: 0.0002
Number of unique categories for zip_code: 16479, percent: 0.0514
Number of unique categories for prev_sold_date: 10772, percent: 0.0336
batch 5 size 361457 and n_unique cat:
Number of unique categories for brokered_by: 46882, percent: 0.1297
Number of unique categories for status: 2, percent: 0.0
Number of unique categories for street: 334031, percent: 0.9241
Number of unique categories for city: 8969, percent: 0.0248
Number of unique categories for state: 53, percent: 0.0001
Number of unique categories for zip_code: 14310, percent: 0.0396
Number of unique categories for prev_sold_date: 12266, percent: 0.0339

In [31]:
# Dictionary to hold the data types for each column
column_dtypes = {}

# Determine data types in each column
for col in a.columns:
    unique_types = set(a[col].dropna().map(type))  # Get unique types, excluding NaN
    column_dtypes[col] = {dtype.__name__ for dtype in unique_types}

# Display the data types for each column
for column, dtypes in column_dtypes.items():
    print(f"Column '{column}' contains data types: {dtypes}")

Column 'brokered_by' contains data types: {'float'}
Column 'status' contains data types: {'str'}
Column 'price' contains data types: {'float'}
Column 'bed' contains data types: {'float'}
Column 'bath' contains data types: {'float'}
Column 'acre_lot' contains data types: {'float'}
Column 'street' contains data types: {'float'}
Column 'city' contains data types: {'str'}
Column 'state' contains data types: {'str'}
Column 'zip_code' contains data types: {'float'}
Column 'house_size' contains data types: {'float'}
Column 'prev_sold_date' contains data types: {'str'}
Column 'batch_number' contains data types: {'int'}

In [33]:
for i in a["batch_number"].unique():
    subset_df = a[a["batch_number"] == i]
    print(f"batch {i} atipical drop")
    # Record the initial number of rows
    initial_rows = subset_df.shape[0]
    # Remove values outside the 0.25th and 99.95th percentiles
    for feature in NUMERICAL_FEATURES:
        lower_bound = subset_df[feature].quantile(0.0025)
        upper_bound = subset_df[feature].quantile(0.9995)
        subset_df = subset_df[(subset_df[feature] >= lower_bound) & (subset_df[feature] <= upper_bound)]

    # Record the number of rows after filtering
    final_rows = subset_df.shape[0]

    # Calculate the number of rows and percentage of rows eliminated
    rows_eliminated = initial_rows - final_rows
    percent_eliminated = (rows_eliminated / initial_rows) * 100

    # Display the filtered DataFrame and the elimination stats
    print(f"Number of rows eliminated: {rows_eliminated}")
    print(f"Percentage of rows eliminated: {percent_eliminated:.2f}%")

batch 0 atipical drop
Number of rows eliminated: 525
Percentage of rows eliminated: 0.71%
batch 1 atipical drop
Number of rows eliminated: 759
Percentage of rows eliminated: 0.80%
batch 2 atipical drop
Number of rows eliminated: 1931
Percentage of rows eliminated: 0.84%
batch 3 atipical drop
Number of rows eliminated: 33
Percentage of rows eliminated: 0.81%
batch 4 atipical drop
Number of rows eliminated: 2695
Percentage of rows eliminated: 0.84%
batch 5 atipical drop
Number of rows eliminated: 2587
Percentage of rows eliminated: 0.72%

In [51]:
for i in a["batch_number"].unique():
    print(f"batch {i} duplicates")    
    subset_df = a[a["batch_number"] == i]
    # Unique key columns
    unique_key = ['street', 'city', 'state', 'zip_code', 'price', 'brokered_by']

    # Sort DataFrame by 'prev_sold_date' in descending order
    subset_df_sorted = subset_df.sort_values(by='prev_sold_date', ascending=False)

    # Drop duplicates based on unique key and keep the last occurrence
    subset_df_unique_last = subset_df_sorted.drop_duplicates(subset=unique_key, keep='last')

    # Count the number of duplicates
    num_duplicates = len(subset_df_sorted) - len(subset_df_unique_last)

    # Calculate the percentage of duplicates
    percent_duplicates = (num_duplicates / len(subset_df_sorted)) * 100

    # Display the number and percentage of duplicates
    print(f"Number of duplicates: {num_duplicates}")
    print(f"Percentage of duplicates: {percent_duplicates:.2f}%")

batch 0 duplicates
Number of duplicates: 39
Percentage of duplicates: 0.05%
batch 1 duplicates
Number of duplicates: 48
Percentage of duplicates: 0.05%
batch 2 duplicates
Number of duplicates: 13
Percentage of duplicates: 0.01%
batch 3 duplicates
Number of duplicates: 15
Percentage of duplicates: 0.37%
batch 4 duplicates
Number of duplicates: 22043
Percentage of duplicates: 6.87%
batch 5 duplicates
Number of duplicates: 25255
Percentage of duplicates: 6.99%

In [45]:
subset_df[subset_df.duplicated(subset=unique_key, keep=False)].sort_values(by='street', ascending=True)

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date,batch_number
955452,78372.0,sold,519900.0,4.0,3.0,0.56,5924.0,Wheaton,Illinois,60187.0,2542.0,2022-04-29,5
799238,78372.0,for_sale,519900.0,4.0,3.0,0.56,5924.0,Wheaton,Illinois,60187.0,2542.0,1997-11-03,5
849659,83866.0,for_sale,874999.0,2.0,2.0,0.17,6116.0,Long Beach,California,90803.0,1207.0,2021-08-30,5
1001185,83866.0,sold,874999.0,2.0,2.0,0.17,6116.0,Long Beach,California,90803.0,1207.0,2022-04-22,5
868633,16829.0,for_sale,1525000.0,3.0,2.0,0.52,6324.0,Orinda,California,94563.0,1917.0,2018-11-30,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
951128,19404.0,sold,549900.0,4.0,4.0,0.48,1993955.0,Greenville,Wisconsin,54942.0,3083.0,2022-04-18,5
951140,67772.0,sold,849900.0,4.0,5.0,3.00,1994155.0,Hortonville,Wisconsin,54944.0,6424.0,2022-04-13,5
794391,67772.0,for_sale,849900.0,4.0,5.0,3.00,1994155.0,Hortonville,Wisconsin,54944.0,6424.0,2000-07-21,5
866153,65249.0,for_sale,899900.0,2.0,2.0,0.11,1995164.0,Santa Cruz,California,95060.0,977.0,2016-02-29,5
1049509,65249.0,sold,899900.0,2.0,2.0,0.11,1995164.0,Santa Cruz,California,95060.0,977.0,2022-05-04,5

In [ ]:
# conn = mysql.connector.connect(host="mysql",user="airflow",password="airflow",database="airflow")        
# existing_batches_query = "SELECT batch_number, COUNT(*) FROM clean_data GROUP BY batch_number;"
# existing_batches = pd.read_sql_query(existing_batches_query, conn)

In [8]:
# import mysql.connector

# # Conectar a la base de datos MySQL
# conn = mysql.connector.connect(
#     host="mysql",
#     user="airflow",
#     password="airflow",
#     database="airflow"
# )

# # Crear un cursor
# cursor = conn.cursor()

# # Sentencia para borrar todos los registros de la tabla raw_data
# delete_query = "DELETE FROM raw_data"

# # Ejecutar la sentencia de eliminaci√≥n
# cursor.execute(delete_query)

# # Confirmar los cambios
# conn.commit()

# # Cerrar el cursor y la conexi√≥n
# cursor.close()
# conn.close()

# print("Todos los registros de la tabla 'raw_data' han sido eliminados.")

In [ ]:
# import mysql.connector

# # Conectar a la base de datos MySQL
# conn = mysql.connector.connect(
#     host="mysql",
#     user="airflow",
#     password="airflow",
#     database="airflow"
# )

# # Crear un cursor
# cursor = conn.cursor()

# # Sentencia para borrar todos los registros de la tabla raw_data
# delete_query = "DELETE FROM clean_data WHERE batch_number = 5"

# # Ejecutar la sentencia de eliminaci√≥n
# cursor.execute(delete_query)

# # Confirmar los cambios
# conn.commit()

# # Cerrar el cursor y la conexi√≥n
# cursor.close()
# conn.close()

# print("Todos los registros de la tabla 'raw_data' han sido eliminados.")