In [1]:
from datetime import datetime
import numpy as np
import mysql.connector
import pandas as pd
import requests
from io import StringIO
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split

In [2]:
# Conexion a la bd
conn = mysql.connector.connect(
    host="mysql",
    user="airflow",
    password="airflow",
    database="airflow"
)

cursor = conn.cursor()
engine = create_engine("mysql+mysqlconnector://airflow:airflow@mysql/airflow")

# Ejecuta sql e inserta en un df
query = "SELECT * FROM raw_data WHERE type = 'train';"
df = pd.read_sql_query(query, conn)

/tmp/ipykernel_32/3859714692.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

In [10]:
df["max_glu_serum"]

0        None
1        None
2        None
3        None
4        None
         ...
71231    None
71232    None
71233    None
71234    None
71235    None
Name: max_glu_serum, Length: 71236, dtype: object

In [3]:
df["max_glu_serum"].value_counts()

Norm    1806
>200    1046
>300     882
Name: max_glu_serum, dtype: int64

In [4]:
# Miramos que variables tienen mas de 1% de nulos relativo al tamaÃ±o del df original
df.isna().sum()[df.isna().sum()>0.01*len(df)]/len(df)*100

max_glu_serum    94.758268
A1Cresult        83.221966
dtype: float64

In [19]:
df["max_glu_serum"].isnull()

0        True
1        True
2        True
3        True
4        True
         ...
71231    True
71232    True
71233    True
71234    True
71235    True
Name: max_glu_serum, Length: 71236, dtype: bool

In [20]:
# Se dropean esas columnas
df.drop(['weight','payer_code','medical_specialty'], axis=1, inplace=True)

In [21]:
# Miramos observaciones 'Unknown/Invalid' 
print(df.isin(['Unknown/Invalid']).sum()[df.isin(['Unknown/Invalid']).sum() > 0])
invalid_rows = df[df.isin(['Unknown/Invalid'])].any(axis=1)

gender    1
dtype: int64

In [22]:
# Se dropean esos valores
df = df[~invalid_rows].copy()

In [10]:
# Duplicados generales
df.duplicated().sum()

0

In [8]:
# Duplicados por paciente
df["patient_nbr"].duplicated().sum()/len(df)

0.24167894995437636

In [9]:
# Se dropean los duplicados y se deja el primero
df.drop_duplicates(subset ="patient_nbr", keep = "first", inplace = True)

In [ ]:
# Miramos columnas que no tengan mas de un valor pues no son informativas
for column in df.columns:
    if df[column].nunique() == 1:
        print(column)

In [9]:
# Se dropean esas columnas
df.drop(['examide','citoglipton'], axis='columns', inplace=True)

In [13]:
df.to_sql('clean_data', con=engine, if_exists='replace', index=False)

# Confirm and close
conn.commit()
conn.close()