In [1]:
from datetime import datetime, timedelta
from sqlalchemy import create_engine, inspect
import logging
import mysql.connector
import pandas as pd
import requests

In [2]:
# Columnas del dataframe
COLUMN_NAMES = ["brokered_by",
                "status",
                "price",
                "bed",
                "bath",
                "acre_lot",
                "street",
                "city",
                "state",
                "zip_code",
                "house_size",
                "prev_sold_date"]

In [3]:
# Configuración del logging
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)

In [4]:
url = "http://10.43.101.149/data"
params = {'group_number': '2'}
headers = {'accept': 'application/json'}

response = requests.get(url, params=params, headers=headers)

In [5]:
response

In [6]:
if response.status_code == 200:
    json_data = response.json()
    df = pd.DataFrame.from_dict(json_data["data"])
    df.columns = COLUMN_NAMES
    df["batch_number"] = json_data["batch_number"]   

    # Connect to MySQL and create table if not exists
    engine = create_engine("mysql+mysqlconnector://airflow:airflow@mysql/airflow")
    with engine.connect() as conn:
        table_exists = engine.dialect.has_table(conn, 'raw_data')
        if not table_exists:
            print("No existe la tabla")
            df.iloc[:0].to_sql('raw_data', con=engine, if_exists='replace', index=False)
        # Merge data into the table
        df.to_sql('raw_data', con=engine, if_exists='append', index=False, chunksize=10000)

else:
    logger.error("Error al realizar la solicitud: %d", response.status_code)

ERROR:__main__:Error al realizar la solicitud: 400

In [7]:
conn = mysql.connector.connect(
host="mysql",
user="airflow",
password="airflow",
database="airflow"
)
select_query = """
SELECT
    *
FROM
    raw_data
"""
a = pd.read_sql(select_query, con=conn)
conn.close()

/tmp/ipykernel_215/72019943.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  a = pd.read_sql(select_query, con=conn)

In [8]:
a["batch_number"].value_counts()

5    361457
4    320696
2    230366
1     94551
0     73784
3      4055
Name: batch_number, dtype: int64

In [9]:
# import mysql.connector

# # Conectar a la base de datos MySQL
# conn = mysql.connector.connect(
#     host="mysql",
#     user="airflow",
#     password="airflow",
#     database="airflow"
# )

# # Crear un cursor
# cursor = conn.cursor()

# # Sentencia para borrar todos los registros de la tabla raw_data
# delete_query = "DELETE FROM raw_data"

# # Ejecutar la sentencia de eliminación
# cursor.execute(delete_query)

# # Confirmar los cambios
# conn.commit()

# # Cerrar el cursor y la conexión
# cursor.close()
# conn.close()

# print("Todos los registros de la tabla 'raw_data' han sido eliminados.")